---
---
$section-headings-color: #ee981b;
@import "{{ site.theme }}";

.page-header {
  background: black;
  text-align: center;
  padding: 40px;
  color: #ee981b;
}
.project-tagline {
  opacity: 0.7;
  color: white;
}
.link {
  color: #ee981b;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-decoration: none;
}
.link:hover {
  opacity: 0.7;
  color: white;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-decoration: none;
}
