---
---
$section-headings-color: #ee981b;
@import "{{ site.theme }}";

.page-header {
  background: black;
  text-align: center;
  padding: 40px;
  color: #ee981b;
}
.project-tagline {
  opacity: 0.7;
  color: white;
}
