---
---
$section-headings-color: #ee981b;
@import "{{ site.theme }}";

.page-header {
  background: black;
  text-align: center;
  padding: 40px;
  color: #ee981b;
}
.project-tagline {
  opacity: 0.7;
  color: white;
}
.nav-link {
  font-size: 20px;
  color: #ee981b;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-decoration: none;
}
.nav-link:hover {
  opacity: 0.7;
  color: white;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-decoration: none;
}

.language-selector {
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.language-selector:hover {
  text-decoration: none;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.logo {
  height: 200px;
}
